body{
    margin: 0;
}

.app-bar{
  -moz-transition: left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 0;
  width: auto !important;
  right: 0 !important;
  /*position: fixed !important; commented out as the page doesnt scroll down*/
}
.app-content{
  -moz-transition: padding-left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: padding-left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: padding-left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: padding-left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-right: 20px !important;
  padding-top: 64px !important;
}
.app-bar.expanded{
  left: 255px;
}

.app-content.expanded{
  padding-left: 255px;
}
/* Charting */
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}
.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: #00BCD4;
  /* Control the thikness of your lines */
  stroke-width: 5px;

}
.ct-series-a .ct-bar {
  /* Colour of your bars */
  stroke:  #00BCD4;
  /* The width of your bars */
  stroke-width: 20px;
  
}
